.title {
    color : whitesmoke;
    text-align: center;
}
.description{
    color : black;
    text-align: center;
}

.label{
    color: red;
}

.body {
    background-image: url(images/profile.jpg);
    background-position: center top;
    background-size: 100% auto;
}

.container{
    align-content: center;
    width: 50%;
    height: 100%;
}

.label{
    color: black;
}